@import '../../styles.scss';

.footer {
  @include footer;
}

.wrapper {
  @include wrapper;
}

.spinner {
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.body-wrapper {
  margin-bottom: 2rem;
  @include fluid-padding;
  margin-top: 2rem;
  width: 100%;
  @include mobile {
    margin-top: 1.5rem;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    .info {
      flex: 2;
      align-self: flex-start;
      position: sticky;
      top: 2rem;
    }
    .content {
      flex: 8;
    }
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    .info {
      flex: 2 0;
      align-self: flex-start;
      position: sticky;
      top: 2rem;
    }
    .content {
      flex: 8 0;
    }
  }
}

.error {
  width: 100%;
}
