@import '../../styles.scss';

.footer {
  @include footer;
}

.wrapper {
  @include wrapper;
}

.body-wrapper {
  margin-bottom: 2rem;
  margin-top: 2rem;
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    .info {
      flex: 2;
      align-self: flex-start;
      position: sticky;
      top: 0;
    }
    .content {
      flex: 8;
    }
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    .info {
      flex: 2 0;
      align-self: flex-start;
      position: sticky;
      top: 2rem;
    }
    .content {
      flex: 8 0;
    }
  }
}
